nav ol, nav li, nav a {
    margin: 0;
    padding: 0;
    list-style: none; 
}

nav ol {
    display: flex;
}

nav ol ol {
    flex-direction: column;
    visibility: hidden;
    margin-top: 1.4rem;
}

.nav-dropdown:hover ol, #nav-dropdown:target, .nav-dropdown > a:focus + ol, .nav-dropdown:focus-within > ol {
    visibility: visible;
}

nav li:hover, nav li:focus-within {
    background-color: darkorange;
}

nav li {
    height: 1.5rem;
    background-color: darksalmon;
    border: 2px solid black;
    padding: 1rem;
}

nav a:focus {
    outline: none;
}