@import url('https://fonts.googleapis.com/css?family=Poppins');

/* reset */
* {
    margin: 0;
    padding: 0;
    background: silver;
    font-family: 'Poppins', sans-serif;
}
 
/* positioning */
body > * {
    padding: 5px;
}

.indent {
    margin-left: 50px;
}

.indent-small {
    margin-left: 25px;
}

.indent-tiny {
    margin-left: 10px;
}

.flex {
    display: flex;
}

.justify-space-between {
    justify-content: space-between;
}

.justify-space-around {
    justify-content: space-around;
}

.margin-top-bottom {
    margin: 6px 0;
}

button {
    margin: 0 6px;
    padding: 0 35px;
}

.width-2 {
    width: 2%;
}

.width-5 {
    width: 5%;
}

.width-10 {
    width: 10%;
}

.width-15 {
    width: 15%;
}

.width-20 {
    width: 20%;
    min-width: 40px;
}

.width-40 {
    width: 40%;
}

.width-50 {
    width: 50%;
}

.width-53 {
    width: 53%;
}

.card * {
    padding: 5px;
    margin-bottom: 25px;
}

.column {
    flex-direction: column;
}

/* style */
.red-font {
    color: orangered;
}

.title {
    color: lightslategray;
}

button {
    border-radius: 5px;
}

.border-bottom {
    border-bottom: 1px solid lightgray;
}

.circle {
    border-radius: 50%;
}

.center {
    align-items: center;
}

.selected {
    color: mediumblue;
}

.unselected {
    color: cadetblue;
}

.divider {
    color: lightgray;
}

.background-white, .background-white * {
    background: white;
}

.background-votes, .background-votes * {
    background-color: lightgrey;
}

.card-votes {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.card-main {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.button-blue {
    color: dodgerblue;
    border-color: dodgerblue;
}

.button-blue-inverse {
    color: white;
    background-color: dodgerblue;
    border-color: dodgerblue;
}

.card-title {
    font-weight: bold;
}

.card-link {
    color: cornflowerblue;
}

/* tag specific */
header > section.brand:first-child {
    margin-left: 0;
}

header section.brand p {
    font-size: 25px;
    line-height: 50px;
}

header section.search input {
    width: 100%;
}

header section.filters {
    width: 5rem;
}

main {
    margin: 10px;
}
