.clock {
    width: 750px;
    height: 750px;
    border: 5px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.clock-center {
    background-color: black;
    width: 5px;
    height: 5px;
    border-radius: 50%;
}

.hour-marker {
    position: absolute;
}

.hour-marker-spacer {
    height: 730px;
    width: 5px;
}

.minute-marker-mark {
    height: 12.5px;
    width: 3px;
    background-color: darkgray;
}

.hour-marker-mark {
    height: 25px;
    width: 5px;
    background-color: black;
}