.live-channel-info {
    display: flex;
    font-size: 0.8rem;
    justify-content: space-between;
    width: 308px;
}

.live-channel-info img {
    width: 40px;
    height: 40px;
    padding-right: 5px;
}

.live-channel-info p {
    margin-top: 5px;
}

.live-channel-tag {
    border: 1px solid lightgray;
    width: 3rem;
    padding: 3px;
}

.live-channel-info h1 {
    font-weight: bold;
}