.Task {
    width: 25rem;
    display: flex;
    justify-content: space-between;
}

.Task-delete:hover {
    background-color: indianred;
}

.Task-edit {
    background-color: inherit;
    border: 1px solid lightslategray;
}

.Task-edit:hover {
    background-color: darksalmon;
}

.Task-name {
    display: flex;
}

.Task li {
    list-style: none;
}

.Task-delete {
    background-color: firebrick;
    border: 0;
    color: white;
}