body > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card-flip {
    width: 250px;
    height: 500px;
    perspective: 400px;
}

.card {
    width: 100%;
    height: 100%;
    position: relative;
    transition: 1s;
    transform-style: preserve-3d;
}

.card:active {
    transform: rotateY(180deg);
}

.card-front, .card-back {
    position: absolute;
    backface-visibility: hidden;
}

.card-back {
    transform: rotateY(180deg);
    background: rgba(255, 255, 255, 0.75);
    height: 100%;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
    margin: 0 10px;
}